.banner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-main-content{
    padding: 0 10px;
    line-height: 1.7;
}

.banner-main-content h2{
    font-size: 32px;
    font-family: var(--heading);
}

.banner-main-content h3{
    padding: 16px 0;
}

.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.banner-main-content button a{
    color: #fff;
    transition: color 1s ease;
}

.banner-main-content button:hover{
    background: #fff;
}

.banner-main-content button:hover a{
    color: #0d0a0b;
};