// С форматированием кода небольшие проблемы, например, между  названием класса и { должен быть пробел. Такие вещи фиксятся IDE если нажать хоткей на автоформатирования
.banner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
  /*
  https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
  "Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование." (c)
  */
    margin-top: 8px;
}

.banner-main-content{
    padding: 0 10px;
    line-height: 1.7;
}

// Нет, так делать не стоит.
// 1. В БЭМ всё построенно на класах, если ты хочешь задать стиль какому-либо блоку, то делать это нужно через класс.
// 2.Таким синтаксисом ты повышаешь вес этих стилей, что противоречит концепции БЭМ http://css.yoksel.ru/specifity
// Бэм построен на классах для того, чтобы у всех стилей был вес = 1 и следовательно хорошо работало переопределение стилей (каскад css - погугли)
// Селекторам напрямую можно задавать стили в случае если тебе нужно добиться чтобы у всех селекторов был этот стиль. Например ты хочешь чтобы у всех тегов h2, по всему сайту  был цвет красный и тп
// Поправь везде
.banner-main-content h2{
    font-size: 32px;
    font-family: var(--heading);
}

.banner-main-content h3{
    padding: 16px 0;
}

.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 19px; // Довольно странное значение для шрифта, обычно они четные, 14px, 16px, 18px и тд
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.banner-main-content button a{
    color: #fff;
    transition: color 1s ease;
}

.banner-main-content button:hover{
    background: #fff;
}

.banner-main-content button:hover a{
    color: #0d0a0b;
};
