.main-container-left{
    padding: 30px 10px;
}

.main-container-left > h2{
    padding: 15px 0 15px 30px;
}

.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.main-container-left p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-left article{
    padding: 10px;
}

.container-top-left{
    padding: 15px 30px;
}

.container-bottom-left{
    background: #f3f3f3;
    margin: 15px 30px;
}

.main-container-right{
    padding: 30px 10px;
}

.main-container-right > h2{
    padding: 15px 0 15px 30px;
}

.main-container-right article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d;
}

.main-container-right article:last-child{
    border-bottom: none;
}

.main-container-right img{
    width: 100px;
    height: 100px;
    align-self: center;
}

.main-container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.main-container-right article h2{
    // Советую вынести font-size: с разными значениями в отдельный класс или михин и просто его периспользовать, чтобы не писать везде
    // К примеру, font-size: 14px можно поместить в класс .text_small и тп
    font-size: 18px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-right article div{
    margin-right: 10px;
};
