@import "navbar.scss";
@import "banner.scss";
@import "hottopic.scss";
@import "footer.scss";
@import "maincontainer.scss";
@import "jsstyle.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --heading: "Montserrat", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  width: 95vw;
  margin: 0 auto;
}

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #252525;
  color: #fff;
  padding: 20px 30px;
}

.top-head .fas {
  font-size: 32px;
  cursor: pointer;
}

main a {
  padding: 15px 0;
  display: block;
  transition: all 0.5s;
}

main span {
  transition: padding-left 0.5s;
}

main a:hover {
  color: #7ac64d;
}

main a:hover span {
  padding-left: 5px;
}

@media (min-width: 768px) {
  .banner-sub-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-bottom-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .ham-btn,
  .times-btn {
    display: none !important;
  }

  .navigation-container {
    display: flex;
    background: #252525;
    align-items: center;
    flex-wrap: wrap;
  }

  .top-head {
    flex: 0 0 15%;
  }

  .nav-bar {
    flex: 1 0 auto;
    height: 100%;
    background: transparent;
  }

  .nav-bar nav ul {
    display: flex;
    justify-content: center;
  }
  .nav-bar nav ul li {
    padding-right: 30px;
  }

  .nav-bar nav ul li:hover {
    background: none;
  }

  .footer-container {
    display: flex;
  }

  .footer-right,
  .footer-left {
    flex: 1;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .banner {
    grid-template-columns: 1fr 2fr;
  }
}
